<h2>Les régions du Mali</h2>
 <div class="container contenu">
        <div class="first-section"> 
            <div class="img-region">
                <img src="./assets/img/mali.png" alt="Carte régions du Mali">
            </div>

            <div class="description">
                <p>
                    Le Mali, officiellement la République du Mali, est un pays enclavé
                    d'Afrique de l'Ouest. Le Mali est le huitième plus grand pays d'Afrique,
                    avec une superficie de plus de 1 240 000 kilomètres carrés. La population
                    du Mali est de 21,9 millions d'habitants. 67% de sa population était estimée
                    avoir moins de 25 ans en 2017. Le Mali est divisé en huit régions (régions)
                    et un district de la capitale. Avec la nouvelle disposition administrative, le
                    territoire du Mali comprendra vingt régions plus le District de Bamako qui
                     composera également 10 Communes urbaines au lieu de six (6).
                </p>
            </div>

        </div>

    </div>
<!-- Title -->
    <div class="titre"><h1>Liste des région</h1></div>
    <div class="title-search container">
        <div class="container"><h3>Rechercher une région</h3></div>
        <div class="btn-search">
            <ng-autocomplete [data]="list" [searchKeyword]="text" placeholder="Recherche..." 
            
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.nom"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
                <div innerHTML="aucun resultat."></div>
            </ng-template>
            <!-- <input type="search" class="btn" placeholder="Recherche..."> -->
        </div>
    </div>
    <!-- Les cardes -->
    
<div class="section-card container">

    <div class="cardes" *ngFor="let item of list">

        <div class="images-carde">  <img [src]="item.image.url" alt="Régions"></div>
        
        <div class="title-carde"><h3>{{item.nom}}</h3></div>
        <div class="description-carde"> <p>description</p></div>
        <div class="bouton-carde">Voir plus</div>
    </div>
  <pagination-controls previousLabel="Précedent" nextLabel="Suivant"> </pagination-controls>

</div>

