<div class="main-content">
    <!-- first carousel -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="assets/img/slide2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p>Agence de promotion touristique du Mali</p>
                    <h2>Bienvenue sur MaliTourist</h2>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="assets/img/slide1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p>Agence de promotion touristique du Mali</p>
                    <h2>Bienvenue sur MaliTourist</h2>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/slide3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <p>Agence de promotion touristique du Mali</p>
                    <h2>Bienvenue sur MaliTourist</h2>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="second-content">
    <h2>Découvrez le Mali</h2>
    <div class="row">
                <div class="col-md-6">
                    <img class="left-img" src="assets/img/leftcardhome.jpeg" alt="">
                    <div class="text">
                        <h3>Berceau des grands empires et royaumes d’Afrique de l’Ouest</h3>
                        <p>Berceau des grands empires et royaumes d’Afrique de l’Ouest, le Mali riche de son passé glorieux constitue une des
                        destinations touristiques les plus prisées de l’espace CEDEAO grâce notamment à la richesse et à la diversité de ses
                        ressources touristiques.
                        Cette richesse et cette diversité en ressources touristiques s’explique avant tout par la présence d’un patrimoine
                        historique et culturel unique qui ont prévalu à leur inscription sur le label UNESCO.</p>
                    </div>
                </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img class="right-img" src="assets/img/r1.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img class="right-img" src="assets/img/r2.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img class="right-img" src="assets/img/r3.png" alt="">
                    </div>
                    <div class="text">
                        <h3>Le Mali a des forêts classées et des parcs de réserves de faunes</h3>
                        <p>Le Mali a des forêts classées et des parcs de réserves de faunes. La faune malienne est très riche, elle se
                        caractérise
                        par une diversité desespèces. On y compte plus de 138 espèces de mammifères 143 espèces de poissons.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <img class="right-img" src="assets/img/r4.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img class="right-img" src="assets/img/r5.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <img class="right-img" src="assets/img/r6.png" alt="">
                    </div>
                    <div class="text">
                        <h3>Le Mali a des forêts classées et des parcs</h3>
                        <p>Le Mali a des forêts classées et des parcs de réserves de faunes. La faune malienne est très riche, elle se caractérise
                        par une diversité desespèces. On y compte plus de 138 espèces de mammifères 143 espèces de poissons.</p>
                    </div>
                </div>
                
            </div>
    </div>
</div>

<div class="region-slide">
    <h2 class="titre">Les régions touristiques du Mali</h2>
    <!-- second-carousel -->
        <div class="secondCarousel">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="assets/img/s1.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Djenné</h2>
                            <a href="#page-intro" class="btn btn-default start-me">Voir +</a>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="assets/img/s3.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Tombouctou</h2>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/s2.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Koulikoro</h2>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
</div>